<server description="Liberty server">

    <featureManager>
        <feature>appClientSupport-1.0</feature>
        <feature>beanValidation-2.0</feature>
        <feature>cdi-2.0</feature>
        <feature>concurrent-1.0</feature>
        <feature>distributedMap-1.0</feature>
<!--         <feature>ejb-3.2</feature> -->
<!--         <feature>ejbHome-3.2</feature> -->
<!--         <feature>ejbLite-3.2</feature> -->
<!--         <feature>ejbPersistentTimer-3.2</feature> -->
<!--         <feature>ejbRemote-3.2</feature> -->
        <feature>el-3.0</feature>
        <feature>j2eeManagement-1.1</feature>
        <feature>jaspic-1.1</feature>
        <feature>javaMail-1.6</feature>
        <feature>jaxb-2.2</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jaxrsClient-2.1</feature>
        <feature>jaxws-2.2</feature>
        <feature>jca-1.7</feature>
        <feature>jcaInboundSecurity-1.0</feature>
        <feature>jdbc-4.2</feature>
        <feature>jms-2.0</feature>
        <feature>jndi-1.0</feature>
        <feature>jpaContainer-2.2</feature>
        <feature>jsf-2.3</feature>
        <feature>json-1.0</feature>
        <feature>jsonb-1.0</feature>
        <feature>jsonp-1.1</feature>
        <feature>jsp-2.3</feature>
        <feature>managedBeans-1.0</feature>
        <feature>mdb-3.2</feature>
        <feature>restConnector-2.0</feature>
        <feature>servlet-4.0</feature>
        <feature>wasJmsClient-2.0</feature>
        <feature>wasJmsSecurity-1.0</feature>
        <feature>wasJmsServer-1.0</feature>
        <feature>websocket-1.1</feature>
        <feature>bells-1.0</feature>
    	<feature>appSecurity-3.0</feature>
	</featureManager>
    
    <keyStore />

    <variable defaultValue="9081" name="default.http.port"/>
    <variable defaultValue="9445" name="default.https.port"/>

    <variable name="io_openliberty_guides_system_inMaintenance" value="false"/>

    <variable name="WLP_DEBUG_REMOTE" value="y"/>


	
    <dataSource id="hibernatemysqldb" jndiName="jdbc/blogpostunit">
        <jdbcDriver libraryRef="MySQLLib"/>
        <properties databaseName="test_db" password="my-secret-pw" portNumber="55001" serverName="localhost" serverTimezone="UTC" user="root"/>
    </dataSource>

    <library id="MySQLLib">
        <file name="mysql-connector-java-8.0.19.jar"/>
    </library>

    <bell libraryRef="hibernate"/>

    <library id="hibernate">
        <fileset dir="${server.config.dir}/hibernate/" includes="*.jar"/>
    </library>

    <webApplication contextRoot="/" location="jakartaee8-hibernate-example.war">
        <classloader commonLibraryRef="hibernate"/>
    </webApplication>

    <mpMetrics authentication="false"/>

    <quickStartSecurity userName="admin" userPassword="{xor}PjsyNjE="/>


    <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

</server>