<server description="Liberty server">

	<featureManager>
		<feature>beanValidation-2.0</feature>
		<feature>cdi-2.0</feature>
		<feature>el-3.0</feature>
		<feature>jaxb-2.2</feature>
		<feature>jdbc-4.2</feature>
		<feature>jndi-1.0</feature>
		<feature>jsf-2.3</feature>
		<feature>managedBeans-1.0</feature>
		<feature>restConnector-2.0</feature>
		<feature>servlet-4.0</feature>
<!--		<feature>websocket-1.1</feature>-->
		<feature>appSecurity-3.0</feature>
		<feature>jpaContainer-2.2</feature>
		<feature>bells-1.0</feature>
	</featureManager>

<!--	<logging-->
<!--		traceSpecification="*=info:JCDI=all:com.ibm.ws.webbeans*=all:org.apache.webbeans*=all:org.jboss.weld*=all:com.ibm.ws.cdi*=all:EJBContainer=all:MetaData=all:Injection=all"-->
<!--		traceFileName="trace.log"-->
<!--		maxFileSize="100"-->
<!--		maxFiles="20"-->
<!--		traceFormat="BASIC" />-->

	<logging
		traceSpecification="*=info:JPA=all:JCDI=all:com.ibm.ws.webbeans*=all:org.apache.webbeans*=all:org.jboss.weld*=all:com.ibm.ws.cdi*=all"
		traceFormat="BASIC" consoleLogLevel="INFO" maxFileSize="100" />

	<keyStore />

	<variable defaultValue="9081" name="default.http.port" />
	<variable defaultValue="9445" name="default.https.port" />

	<variable name="io_openliberty_guides_system_inMaintenance" value="false" />

	<variable name="WLP_DEBUG_REMOTE" value="y" />

	<library id="hsql-jdbc">
		<fileset dir="${server.config.dir}/jdbc/" includes="*.jar" />
	</library>

	<dataSource id="my-datasource" jndiName="jdbc/blogpostunit">
		<jdbcDriver libraryRef="hsql-jdbc"
			javax.sql.ConnectionPoolDataSource="org.hsqldb.jdbc.pool.JDBCPooledDataSource" />
		<properties URL="jdbc:hsqldb:mem:mydatabase"
			user="sa" />
	</dataSource>

	<library id="hibernate">
		<fileset dir="${server.config.dir}/hibernate-dir/" includes="*.jar" />
	</library>

	<bell libraryRef="hibernate" />

	<webApplication contextRoot="/" location="jakartaee8-hibernate-example.war">
		<classloader commonLibraryRef="hibernate" />
	</webApplication>

	<quickStartSecurity userName="admin" userPassword="{xor}PjsyNjE=" />

	<httpEndpoint host="localhost" httpPort="${default.http.port}"
		httpsPort="${default.https.port}" id="defaultHttpEndpoint" />

</server>